<?xml version="1.0" encoding="utf-8"?>
<packages>

  <package id="Machine.Specifications" version="0.5.7" />
  <package id="Machine.Specifications.AutoMocking" version="1.4.24.0" />
  <package id="Machine.Specifications.Mvc" version="1.5.51.0" />
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="SharpArch.Domain" version="2.0.4" />
</packages>